# ocaventeDz Backend Environment Variables
PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ocaventedz?schema=public
JWT_ACCESS_SECRET=ocavente_super_secret_jwt_access_key_dz_2026
JWT_REFRESH_SECRET=ocavente_super_secret_jwt_refresh_key_dz_2026
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=30d
CORS_ORIGIN=*
UPLOAD_DIR=./uploads
